@model DemoMVC.Models.Receipy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Receipy</h4>
    <hr />
     
    <table border="0" style="width:500px;">
        <tbody>
            <tr>
                <td colspan="3"><strong>@Html.DisplayNameFor(model => model.ReceipyID) @Html.DisplayFor(model => model.ReceipyID) , @Html.DisplayFor(model => model.ReceipyName)</strong></td>
            </tr>
            <tr>
                <td colspan="1" rowspan="4" style="width: 20%;"><img src="@Url.Content(Model.ImageURL)" width="200" height="200"></td>
                <td style="text-align: right; width: 10%;"><strong>@Html.DisplayNameFor(model => model.TimeToMake) :&nbsp;</strong></td>
                <td style="width: 20%; height: 30px;">@Html.DisplayFor(model => model.TimeToMake)</td>
            </tr>
            <tr>
                <td style="text-align: right;  width: 10%; height: 30px;"><strong>@Html.DisplayNameFor(model => model.SubCategory.Category.CategoryName) :</strong></td>
                <td>@Html.DisplayFor(model => model.SubCategory.Category.CategoryName)</td>
            </tr>
            <tr>
                <td style="text-align: right; width: 10%; height: 30px;"><strong style="text-align: right;">@Html.DisplayNameFor(model => model.SubCategory.SubCategoryName):</strong></td>
                <td>@Html.DisplayFor(model => model.SubCategory.SubCategoryName)</td>
            </tr>
            <tr>
                <td style="text-align: right; vertical-align: top;"><strong style="text-align: right;">@Html.DisplayNameFor(model => model.Ingredients)  :</strong></td>
                <td style="text-align: left; vertical-align: top;">@Html.DisplayFor(model => model.Ingredients) </td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: left; vertical-align: top;">
                    <strong> @Html.DisplayNameFor(model => model.Making) :</strong>
</td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: left; vertical-align: top;">
                   @Html.DisplayFor(model => model.Making)
                </td>
            </tr>
            <tr>
                @{
                    string strShortDate = Model.DateInsert.ToShortDateString();
                }
                <td colspan="3" style="text-align: left; vertical-align: top;"><span style="font-size:9px;">@Html.DisplayNameFor(model => model.DateInsert) : @Html.DisplayFor(modelItem => strShortDate)</span></td>
            </tr>
        </tbody>
    </table>
                 
       
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReceipyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
