@model IEnumerable<DemoMVC.Models.Receipy>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
      
        <th>
            @Html.DisplayNameFor(model => model.ReceipyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceipyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubCategory.SubCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredients)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Making)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateInsert)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateUpdate)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
     
        <td>
            @Html.DisplayFor(modelItem => item.ReceipyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceipyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategory.SubCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ingredients)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Making)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateInsert)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateUpdate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReceipyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReceipyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReceipyID })
        </td>
    </tr>
}

</table>
